# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

#db
/prisma/*.db
# Normally we should add this to the repo, but there is no need as we can generate it
/prisma/migrations/

#logs
/logs

# production
/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.idea
/prisma/nodebot.db-journal
